<!DOCTYPE html>
<html>
<head>

    <title>Add Student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Add Student</h1>

<form action="/add" method="POST">

<input type="text" name="name" placeholder="Student Name" required>

<br><br>

<input type="text" name="roll" placeholder="Roll Number" required>

<br><br>

<input type="text" name="department" placeholder="Department" required>

<br><br>

<input type="number" name="marks" placeholder="Marks" required>

<br><br>

<button type="submit">Save Student</button>

</form>

<br>

<a href="/">
<button>Back</button>
</a>

</div>

</body>
</html>
