<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Student Management System</h1>


<div class="cards">

    <div class="card">
        <h2>{{ total_students }}</h2>
        <p>Total Students</p>
    </div>

    <div class="card">
        <h2>{{ highest_marks }}</h2>
        <p>Highest Marks</p>
    </div>

    <div class="card">
        <h2>{{ average_marks }}</h2>
        <p>Average Marks</p>
    </div>

</div>

<div class="buttons">

    <a href="/add"><button>Add Student</button></a>

    <a href="/display"><button>Display Students</button></a>

    <a href="/search"><button>Search Student</button></a>

    <a href="/update"><button>Update Student</button></a>

    <a href="/delete"><button>Delete Student</button></a>

</div>