<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Update Student</h1>

    <form method="POST">

        <input type="text" name="roll" placeholder="Enter Roll Number" required>

        <br><br>

        <input type="number" name="marks" placeholder="Enter New Marks" required>

        <br><br>

        <button type="submit">Update Student</button>

    </form>

    <br>

    <a href="/">
        <button>Back Home</button>
    </a>

</div>

</body>
</html>